<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03WorldTrotter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E8791711E8966E40050ECA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8791851E8966E50050ECA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8791901E8966E50050ECA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
